{% extends 'base.html.twig' %}

{% block title %}La boutada journalière amusez-vous{% endblock %}

{% block body %}
    <style>
        #bouton-modal{
            display: block;
            box-shadow: 3px 3px 2px 1px rgba(0, 123, 255, .2);
            width: 300px;
            height: 100px;
            font-size: 25px;
        }

        .creation{
            margin-top: 10em;
        }

        body{
            background-color:white;
            background-image:url({{ asset('img/mmmmh.png') }});
            background-attachment:fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 20%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        #categorie-name{
            width: max-content;
            border-radius: 2px;
        }
    </style>

    <a href="{{ path('boutade_create') }}"><button id="boutade-create-bouton" class="btn btn-primary mt-2 ml-2" type="button">Creer un chiste</button></a>

    <button id="bouton-modal" type="button" class="btn btn-info btn-lg text-center center">Envoie ma boutade</button>

    <div id="modal-boutade" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="titulo">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="titulo" class="modal-title"></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <p id="boutade-content"></p>
                    <p id="boutade-author" class="font-italic"></p>
                    <p id="categorie-name" class="alert-info"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).on('click', '#bouton-modal', function(event){
            event.preventDefault();
            $.ajax({
                url:'/boutade/random-boutade',
                method:'GET',
                dataType:'JSON'
            }).done(function(data){
                pd(data, function(){
                    $('#modal-boutade').modal('toggle');
                });
            });
        });

        function pd(data, callback){
            $('#titulo').text(data.title);
            $('#boutade-content').text(data.content);
            $('#boutade-author').text(data.author);
            $('#categorie-name').text(data.categoryName);
            callback();
        }

    </script>
{% endblock %}